<% if !signed_in? %>
<p>Please login or sign up first</p>
<% end %>

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>
