<p>
	<strong>Title:</strong>
	<%= @listing.title %>		
</p>

<p>
	<strong>Address:</strong>
	<%= @listing.address %>		
</p>

<p>
	<strong>Price:</strong>
	<%= @listing.price %>		
</p>

<%= link_to 'Back', listings_path %>