<p>
	<strong>Title:</strong>
	<%= @listing.title %>		
</p>

<p>
	<strong>Address:</strong>
	<%= @listing.address %>		
</p>

<p>
	<strong>Price:</strong>
	<%= @listing.price %>		
</p>

<p>
	<strong>Status:</strong>
	<%= @listing.status %>		
</p>