<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-md-offset-2">
		<h3>Email: <span class="text-primary"><%= current_user.email %><br></span></h3>
		<hr>
		<h3>Profile Picture:</h3>
			<% if current_user.image? %>
				<%= image_tag(current_user.image) %><br>
			<% end %>		
		<button class="btn btn-default"><%= link_to 'Edit Profile', edit_user_path(@user) %></button> 
	</div>
	<div class="col-md-2"></div>

</div>

