<h1>Contact Us</h1>
<h2>Leiga</h2>
<h3>A-G-7 Glomac Damansara,Jalan Damansara,60000 Kuala Lumpur.</h3>
<h3>Phone: 014-3662386</h3>
<h3>Email: kaiweepuah0121@hotmail.com</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.851731738556!2d101.62778594965826!3d3.133850354110875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4939007dcd87%3A0x1f08990385cee5b8!2sNEXT+Academy+%7C+The+Best+Coding+School!5e0!3m2!1sen!2smy!4v1515754730436" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>