
<%= render partial: "layouts/navbar" %>
<div class="container">
  <div class="hero-header">
    <div class="main-text">Pair BnB</div>
    <div class="sub-text">A place to find your next home</div>
  </div>
  <div class="div-one">
    <div class="para-one">
      <h1>About Us</h1>
    A place to host or rent a great place.</div>
    <div class="para-two">
      <h1>Why use us</h1>
      Convenient and safe.
    </div>
  </div>
</div>
<div class="pusher"></div>
<div id="footer">
  <ul>
    <li>About Us</li>
    <li>Privacy</li>
    <li>Terms</li>
    <li>Contact Us</li>
    <li>Signup for newsletter</li>
  </ul>
</div>

<p><a href="#">Back to top</a></p>