
  <div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/photo3.jpeg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Travel Like The Locals</h1>
          <h3>Travel the world and stay with local host</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/photo2.jpeg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Homecoming, Around the World</h1>
          <h4>Stay with a local host and travel like the locals, immerse fully in their cultures. </h4>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/photo1.jpeg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Become a Host</h1>
          <h4>Share your extra and unique space with travellers all around the world.</h4>
          <p class="btn btn-sm btn-default">

          </p>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center"></div>
    <div class="col-md-4 text-center">
      <h2>Explore The World</h2>
      <p>Recommended Destinations for You</p>
    </div>
    <div class="col-md-4 text-center"></div>
  </div><!-- /.row -->
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="/images/kuala_lumpur.jpg"><br><br>
    <h2 class="featurette-heading">
    <form action="/listings">
      <input type="hidden" name="search_result" value="kuala lumpur" >
      <button type="submit" class="btn btn-link btn-lg">KUALA LUMPUR</button>
    </form> 
    <span class="text-muted">Capital City of Malaysia</span></h2>
    <p class="lead">Why visit? Petronas Towers, Batu Caves, roti canai, exciting chaos, mountain views, Bangsar, Petaling Street, Pavilion Shopping Mall, Publika, urban luminescence.</p>
  </div><br><br><br><br><br>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="/images/bangkok.jpg"><br><br><br>
    <h2 class="featurette-heading">
    <form action="/listings">
      <input type="hidden" name="search_result" value="bangkok" >
      <button type="submit" class="btn btn-link btn-lg">BANGKOK</button>
    </form> 
    <span class="text-muted">Colorful City of Thailand</span></h2>
    <p class="lead">Why visit? The King, temples, tuk-tuks, street food, floating markets, Khaosan Road, Thai massage, Thai boxing, royal palaces, polite smiles, the riverfront, tom yum, green curry, pathai, rooftop bars.</p>
  </div><br><br><br><br><br><br>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="/images/seoul.jpg"><br><br><br>
    <h2 class="featurette-heading">
    <form action="/listings">
      <input type="hidden" name="search_result" value="seoul" >
      <button type="submit" class="btn btn-link btn-lg">SEOUL</button>
    </form> 
    <span class="text-muted">Capital city of Kpop.</span></h2>
    <p class="lead">Why visit? Karaoke, K-POP, fried chicken with beer, Korean BBQ with soju, skyscrapers, royal palaces, temples, street food, street markets, night markets, hiking, the Han River, Hongdae hangouts, plastic surgery, all night energy..</p><br><br><br><br><br><br>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>

</div><!-- /.container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
